body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav li a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav li a:hover {
    color: #ddd;
  }
  
  .container {  /* Styles for content container (used in main page) */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  h1 {  /* Styles for heading (used in main page) */
    font-size: 3em;
    margin-bottom: 10px;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
  
  p {  /* Styles for paragraph (used in main page) */
    font-size: 1.5em;
    color: #666;
    font-weight: bold;
  }
  
  main {  /* Styles for main content area (used in About Us page) */
    padding: 20px;
  }
  
  h2 {  /* Styles for subheading (used in About Us page) */
    font-size: 2em;
    margin-bottom: 10px;
  }
  