body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f2f0; /* Light beige background */
  }
  
  header {
    text-align: center;
    padding: 20px;
    background-color: #c0392b; /* Dark red background */
    color: white;
  }
  
  header h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .option-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Allow options to wrap if needed */
  }
  
  .option {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Softer shadow */
    transition: transform 0.2s ease-in-out;  /* Add hover effect */
    margin: 10px;
    cursor: pointer;
  }
  
  .option h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #663333; /* Darker red heading */
  }
  
  .option p {
    font-size: 1em;
    color: #808080; /* Light gray text */
  }
  
  .option:hover {
    transform: scale(1.05); /* Slight zoom on hover */
    background-color: #d9b3b3; /* Lighter red on hover */
  }
  
  a {
    text-decoration: none; /* Remove underline from links */
    color: inherit;  /* Inherit text color from parent elements */
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #eee;
    border-top: 1px solid #ddd;
  }
  