body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #f0f5ff; /* Light blue background */
}

.header {
    background-color: #445c80;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.main {
    padding: 20px;
    text-align: center;
    height: 100vh; /* Set height to viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; /* Ensure position is set to relative */
    overflow: hidden; /* Hide any overflow content */
}

.main::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('background.jpg'); /* URL to your background image */
    background-size: cover;
    background-position: center;
    filter: blur(5px); /* Apply blur effect */
    z-index: -1; /* Ensure the background is behind the content */
}

.about-section {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: left;
}

.big-text {
    font-size: 6em; /* Larger font size */
    margin-bottom: 50px;
}

.login {
    margin-top: 20px;
}

.login-button {
    background-color: #007bff; /* Blue button */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
